# ==========================================
# WAILS & GO BUILD ARTIFACTS
# ==========================================
build/bin/
build/obj/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
__debug_bin

# ==========================================
# FRONTEND (Node.js & JS)
# ==========================================
frontend/node_modules/
frontend/dist/
wailsjs/

# ==========================================
# OS & ENVIRONMENT
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
ehthumbs.db
$RECYCLE.BIN/

# ==========================================
# IDE & EDITORS
# ==========================================
.vscode/
.idea/
*.swp
*.swo

# ==========================================
# LOCAL CONFIGS (СЕКРЕТНЫЕ ДАННЫЕ)
# ==========================================
# Твой файл с абсолютными путями (C:/Users/markv/...) не должен попасть в паблик!
services.json


vault.json